# Pandas (library) in python
written by : Javeria Habib\
email : javriz6@gmail.com

## step 1
1. Import data

In [104]:
import pandas as pd

## step 2
read file

In [105]:
pd.read_excel

<function pandas.io.excel._base.read_excel(io, sheet_name: 'str | int | list[IntStrT] | None' = 0, *, header: 'int | Sequence[int] | None' = 0, names: 'list[str] | None' = None, index_col: 'int | Sequence[int] | None' = None, usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None, dtype: 'DtypeArg | None' = None, engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb'] | None" = None, converters: 'dict[str, Callable] | dict[int, Callable] | None' = None, true_values: 'Iterable[Hashable] | None' = None, false_values: 'Iterable[Hashable] | None' = None, skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, parse_dates: 'list | dict | bool' = False, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'dict[Hashable, str] | str | None' = None, thousands: 'str | None' = None, decimal: 'str' = '.', comment: 'str | None' = None, skipfooter: 'int' = 0, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>, engine_kwargs: 'dict | None' = None) -> 'DataFrame | dict[IntStrT, DataFrame]'>

## Homework
How to import files in pandas(define paths)\
ans: within " " writedown file name as it is with .extension(.xlxs,.csv etc)\
error: ModuleNotFoundError: No module named 'openpyxl'\
      solution: open new terminal -- pip install openpyxl\

In [106]:


pd.read_excel("pandas_01_day6 (1).xlsx")

   height weight favourite_dish
0     5.8    101  Chicken Pulao
1     6.2     92        Biryani
2     5.9     62  Karahi Ghosht
3     5.9     95  Chicken Pulao
4     5.9     55  Chicken Pulao
..    ...    ...            ...
82    5.4     55          Pasta
83    5.9     75  Karahi Ghosht
84    5.4     61        Biryani
85    6.2     68  Chicken Pulao
86    5.1     96        Biryani

[87 rows x 3 columns]

## step 3
name dataset\
define\
print

In [107]:
df = pd.read_excel("pandas_01_day6 (1).xlsx")
print(df)

   height weight favourite_dish
0     5.8    101  Chicken Pulao
1     6.2     92        Biryani
2     5.9     62  Karahi Ghosht
3     5.9     95  Chicken Pulao
4     5.9     55  Chicken Pulao
..    ...    ...            ...
82    5.4     55          Pasta
83    5.9     75  Karahi Ghosht
84    5.4     61        Biryani
85    6.2     68  Chicken Pulao
86    5.1     96        Biryani

[87 rows x 3 columns]

In [108]:
df.head()

  height weight favourite_dish
0    5.8    101  Chicken Pulao
1    6.2     92        Biryani
2    5.9     62  Karahi Ghosht
3    5.9     95  Chicken Pulao
4    5.9     55  Chicken Pulao

In [109]:
df.tail()

   height weight favourite_dish
82    5.4     55          Pasta
83    5.9     75  Karahi Ghosht
84    5.4     61        Biryani
85    6.2     68  Chicken Pulao
86    5.1     96        Biryani

In [110]:
df.shape

(87, 3)

rows 87\
columns 3

In [111]:
df.head(10)

  height weight favourite_dish
0    5.8    101  Chicken Pulao
1    6.2     92        Biryani
2    5.9     62  Karahi Ghosht
3    5.9     95  Chicken Pulao
4    5.9     55  Chicken Pulao
5    5.3     59        Biryani
6    5.6     50          Pasta
7    5.9     76        Biryani
8    5.1     78        Biryani
9    5.4     68        Biryani

In [112]:
df.info

<bound method DataFrame.info of    height weight favourite_dish
0     5.8    101  Chicken Pulao
1     6.2     92        Biryani
2     5.9     62  Karahi Ghosht
3     5.9     95  Chicken Pulao
4     5.9     55  Chicken Pulao
..    ...    ...            ...
82    5.4     55          Pasta
83    5.9     75  Karahi Ghosht
84    5.4     61        Biryani
85    6.2     68  Chicken Pulao
86    5.1     96        Biryani

[87 rows x 3 columns]>

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     object
 1   weight          87 non-null     object
 2   favourite_dish  87 non-null     object
dtypes: object(3)
memory usage: 2.2+ KB

df.info: When you use df.info without parentheses, you're accessing information about the DataFrame's structure and attributes. This typically returns the metadata about the DataFrame, such as the column names, data types, memory usage, and non-null counts. It's a property of the DataFrame object.

df.info(): When you include parentheses, you're actually calling the method info() on the DataFrame. This method provides a summary of the DataFrame's information, including the number of non-null values, memory usage, data types, and more, similar to what df.info returns but formatted for display.

###  HW2
type casting:  process of changing an entity of one data type into another.\
pd.to_numeric() is used to convert the specified columns to numeric data types.\
errors='coerce' parameter ensures that if there are any values that cannot be converted to numeric, they will be replaced with NaN (Not a Number).\
astype('category') is used to convert the "favourite_dish" column to a categorical data type, which is useful if the column has a limited number of unique values that repeat frequently.

In [114]:
df['height'] = pd.to_numeric(df['height'], errors='coerce')
df['weight'] = pd.to_numeric(df['weight'], errors='coerce')

In [115]:
df.index

RangeIndex(start=0, stop=87, step=1)

In [116]:
df.columns

Index(['height', 'weight', 'favourite_dish'], dtype='object')

In [117]:
df.describe()

           height      weight
count   86.000000   86.000000
mean    10.043721   70.558140
std     25.880812   16.826873
min      5.000000   25.000000
25%      5.300000   60.000000
50%      5.600000   70.500000
75%      5.875000   80.000000
max    178.000000  125.000000

In [118]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,77,78,79,80,81,82,83,84,85,86
height,5.8,6.2,5.9,5.9,5.9,5.3,5.6,5.9,5.1,5.4,...,5.5,5.11,5.3,5.4,5.5,5.4,5.9,5.4,6.2,5.1
weight,101.0,92.0,62.0,95.0,55.0,59.0,50.0,76.0,78.0,68.0,...,85.0,72.0,62.0,55.0,52.0,55.0,75.0,61.0,68.0,96.0
favourite_dish,Chicken Pulao,Biryani,Karahi Ghosht,Chicken Pulao,Chicken Pulao,Biryani,Pasta,Biryani,Biryani,Biryani,...,Biryani,Karahi Ghosht,Biryani,Pasta,Karahi Ghosht,Pasta,Karahi Ghosht,Biryani,Chicken Pulao,Biryani

In [119]:
df.sort_index()

    height  weight favourite_dish
0      5.8   101.0  Chicken Pulao
1      6.2    92.0        Biryani
2      5.9    62.0  Karahi Ghosht
3      5.9    95.0  Chicken Pulao
4      5.9    55.0  Chicken Pulao
..     ...     ...            ...
82     5.4    55.0          Pasta
83     5.9    75.0  Karahi Ghosht
84     5.4    61.0        Biryani
85     6.2    68.0  Chicken Pulao
86     5.1    96.0        Biryani

[87 rows x 3 columns]

df.sort_index(ascending=false)\
df.sort_values(by="weight")

In [120]:
df.sort_values(by="weight")

    height  weight favourite_dish
26     5.0    25.0        Biryani
35     5.0    31.0        Biryani
44     5.2    48.0        Biryani
42     5.6    49.0  Chicken Pulao
25     6.0    50.0        Biryani
..     ...     ...            ...
0      5.8   101.0  Chicken Pulao
33     5.1   103.0    Chapel Kaba
34     6.0   110.0    Chapel Kaba
75     6.0   125.0    Chapel Kaba
30     5.1     NaN  Karahi Ghosht

[87 rows x 3 columns]